
<div *ngIf="authenticationService.currentUserValue" >
    <h1>Hi {{currentUser.firstName}}!</h1>
    <p>You're logged in with Angular 8!!</p>
    <h4>All registered users:</h4>
    <ul class="list-group">
        <li class="list-group-item" 
            [class.isCurrent]="user.username == authenticationService.currentUserValue.username" 
            *ngFor="let user of users">
                {{user.username}} ({{user.firstName}} {{user.lastName}})
            <a style='float: right;' (click)="deleteUser(user.id)" class="text-danger">Delete</a>
        </li>
    </ul>
</div>

<div *ngIf="!authenticationService.currentUserValue">
    <h1>Hi there!</h1>
    <p>You're not logged in currently !</p>
</div>

